.reviews-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}

.users-reviews {
  text-align: center;
}

.users-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 39%;
}

.button {
  background-color: transparent;
  border-width: 0px;
}

.image {
  height: 70px;
  width: 70px;
}

.user-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: bolder;
}

.description {
  font-size: 15px;
  color: #171f46;
  font-family: 'Roboto';
  font-weight: 500;
}

@media and screen(min-width: 576px) {
  .users-container {
    width: 70%;
  }
}
